<select id="yearselect">
    <option value="2010">2010</option>
    <option value="2011">2011</option>
    <option value="2012">2012</option>
    <option value="2013">2013</option>
    <option value="2014">2014</option>
    <option value="2015">2015</option>
</select>

<table>
    <thead>
	<tr>
	    <th></th>
	    <th>Total</th>
	    <th>1 to 4</th>
	    <th>5 to 17</th>
	    <th>18 to 19</th>
	    <th>20 to 24</th>
	    <th>25 to 29</th>
	    <th>30 to 34</th>
	    <th>35 to 39</th>
	    <th>40 to 44</th>
	    <th>45 to 49</th>
	    <th>50 to 54</th>
	    <th>55 to 59</th>
	    <th>60 to 64</th>
	    <th>65 to 69</th>
	    <th>70 to 74</th>
	    <th>75 and over</th>
	</tr>
    <thead>
<tbody id="table-body">
</tbody>
</table>



